{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/cats/cat-index.css' %}"/>
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>Coffee List</h1>
</section>

<section class="card-container">
  {% for coffee in coffees %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
            <h3>image goes here</h3>
        </div>
        <h2 class="card-title">{{ coffee.name }}</h2>
        <p>{{ coffee.name }} by {{ coffee.brand }}</p>
        <p>{{ coffee.description }}</p>
        <p>Rating: {{ coffee.rating }}</p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}
